/!qhlogs.doc
/BTP_GV.csv
/Create_vm_gv.txt
/Custom Office Templates
/Default.rdp
/desktop.ini
/Env_Creation
/fence agent details.txt
/jsonpolicy.txt
/main.ps1
/role assign script.sh
/rolegv.txt
/Subaccount & Cf iteration.txt
/Subaccount & Entitlement
/symphony gcp access.txt
/Untitled-1.sh
/variable.yml
/My Music
/My Pictures
/My Videos